/* # Media Queries
---------------------------------------------------------------------------------------------------- */

@media only screen and (min-width: 1380px) {
	
/* # Structure and Layout
---------------------------------------------------------------------------------------------------- */

/* ## Site Containers
--------------------------------------------- */

.site-inner,
.wrap {
	margin: 0 auto;
	max-width: 1280px;
}

.full-width-content .breadcrumb {
	margin: 0 auto 20px;
	width:90%;
	max-width: 1280px;
}

.site-inner {
	clear: both;
	padding-top: 40px;
	word-wrap: break-word;
}

.landing-page .site-inner {
	max-width: 800px;
}

/* ## Column Widths and Positions
--------------------------------------------- */

/* ### Wrapping div for .content and .sidebar-primary */

.content-sidebar-sidebar .content-sidebar-wrap,
.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-sidebar-content .content-sidebar-wrap {
	width: 1060px;
}

.content-sidebar-sidebar .content-sidebar-wrap {
	float: left;
}

.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-sidebar-content .content-sidebar-wrap {
	float: right;
}

/* ### Content */

.content {
	float: right;
	/* width: 880px; */
	@include structure(880, 1280);
}

.content-sidebar .content,
.content-sidebar-sidebar .content,
.sidebar-content-sidebar .content {
	float: left;
}

.content-sidebar-sidebar .content,
.sidebar-content-sidebar .content,
.sidebar-sidebar-content .content {
	/* width: 660px; */
	@include structure(660, 1060);
}

.full-width-content .content {
	width: 100%;
}

/* ### Primary Sidebar */

.sidebar-primary {
	float: right;
	/* width: 360px; */
	@include structure(360, 1280);
}

.content-sidebar-sidebar .content-sidebar-wrap .sidebar-primary,
.sidebar-content-sidebar .content-sidebar-wrap .sidebar-primary,
.sidebar-sidebar-content .content-sidebar-wrap.sidebar-primary,
.sidebar-sidebar-content .sidebar-primary {
	@include structure(360, 1060);
}

.sidebar-content .sidebar-primary,
.sidebar-sidebar-content .sidebar-primary {
	float: left;
}

/* ### Secondary Sidebar */

.sidebar-secondary {
	float: left;
	/* width: 180px; */
	@include structure(180, 1280);
}

/* # Footer Widgets
---------------------------------------------------------------------------------------------------- */

.footer-widgets-1,
.footer-widgets-2,
.footer-widgets-3 {
	display:block;
	float:left;
	@include grid(3, 40, 1280);
}

}