/* # Footer Widgets
---------------------------------------------------------------------------------------------------- */

.footer-widgets {
	border-top: 1px solid tint($color-black, 90%);
	background-color: $color-white;
	@include font(1.8, 2.6);
	clear: both;
	padding: 60px 0;
}

.footer-widgets-1,
.footer-widgets-2,
.footer-widgets-3 {
	display:block;
	float:left;
	@include grid(1, 0, 800);
}