/* # Structure and Layout
---------------------------------------------------------------------------------------------------- */

/* ## Site Containers
--------------------------------------------- */

.site-inner,
.wrap {
	margin:20px auto 0;
	width:90%;
	max-width: 800px;
}

.content,
.content-sidebar-sidebar .content,
.content-sidebar-sidebar .content-sidebar-wrap,
.footer-widgets-1,
.footer-widgets-2,
.footer-widgets-3,
.js .genesis-nav-menu .sub-menu a,
.js .genesis-nav-menu .sub-menu, 
.sidebar-content-sidebar .content,
.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-primary,
.sidebar-secondary,
.sidebar-sidebar-content .content,
.sidebar-sidebar-content .content-sidebar-wrap,
.site-header .widget-area,
.title-area {
	width: 100%;
}
	
.footer-widgets-1,
.footer-widgets-2 {
	border-bottom: 1px solid tint($color-black, 90%);
	padding-bottom:40px;
}
	
.content-sidebar-sidebar .content-sidebar-wrap .sidebar-primary,
.sidebar-content-sidebar .content-sidebar-wrap .sidebar-primary,
.sidebar-sidebar-content .content-sidebar-wrap.sidebar-primary,
.sidebar-sidebar-content .sidebar-primary {
	width: 100%;
}

.site-header .wrap {
	padding-left: 5%;
	padding-right: 5%;
}